* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
    display: block;
}