*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}
html {
    font-size: 10px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    background: url(../img/main-bg.png) no-repeat center;
    background-size: cover;
    position: relative;
    color: #fff;
}
.main-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 0;
    background-image: -moz-linear-gradient(150deg, rgb(136, 211, 206) 0% , rgb(110, 69, 226) 100%);
    background-image: -webkit-linear-gradient(150deg, rgb(136, 211, 206) 0% , rgb(110, 69, 226) 100%);
    background-image: -ms-linear-gradient(150deg, rgb(136, 211, 206) 0% , rgb(110, 69, 226) 100%);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    position: relative;
    z-index: 1;
    width: 90%;
}
.menu {
    width: 70%;
}
.menu nav ul {
    display: flex;
    justify-content: space-around;
}
.menu-link {
    text-decoration: none;
    color: #fff;
}
.get-started-btn {
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    text-transform: uppercase;
    margin-left: 60px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
}
.main-text span {
    display: inline-block;
}
.main-text span::after {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.main-text span::before {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.main-text h1 {
    font-size: 80px;
    margin: 0.5rem;
}
.main-arrow {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.arrow-down {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 55px;
    /*box-shadow: 0 0 18.69px 2.31px rgba(204, 204, 223, 0.5);*/
    /*-webkit-box-shadow: 0 0 18.69px 2.31px rgba(204, 204, 223, 0.5);*/
    /*-moz-box-shadow: 0 0 18.69px 2.31px rgba(204, 204, 223, 0.5);*/
    border-radius: 50%;
}

.table {
    background-color: #f9fafc;
    padding: 2rem;
}
.table-header {
    text-align: center;
    margin-bottom: 5rem;
}
.table-header span {
    text-transform: uppercase;
    font-size: 2rem;
    color: #9fa4af;
}
.table-header span::before {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #6e45e2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.table-header span::after {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #6e45e2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.table-header h2 {
    color: #4f4f6f;
    font-size: 6rem;
}
.table-header p {
    font-size: 1.8rem;
    line-height: 1.4;
    display: inline-block;
    width: 40rem;
    color: #9fa4af;
}

.price-tags {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price-tag {
    width: 35rem;
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}
.price-tag:hover {
    cursor: pointer;
    box-shadow: 0 0 60px 10px rgba(204, 204, 223, 0.71);
    -webkit-box-shadow: 0 0 60px 10px rgba(204, 204, 223, 0.71);
    -moz-box-shadow: 0 0 60px 10px rgba(204, 204, 223, 0.71);
}
.price-tag span {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 3rem auto 1rem;
}
.price-tag h4 sup {
    vertical-align: super;
    font-size: 1.4rem;
}
.price-tag h4 sub {
    vertical-align: sub;
    font-size: 1.4rem;
}
.price-tag h4 {
    font-weight: 500;
    font-size: 3.5rem;
    color: #4f4f6f;
    margin: 1rem;
}
.price-tag p {
    color: #9fa4af;
    font-size: 16px;
}
.price-btn {
    background-color: #fff;
    border: 1px solid #9fa4af;
    color: #9fa4af;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 4rem;
    border-radius: 100px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}
.price-btn:hover {
    background-color: #6e45e2;
    color: #fff;
}

